<div class="home-container">
  <div class="all-movies">
    <div class="trending-movies">
      <div class="top">
        <h4>Trending Movies</h4>
        <div class="view-all"></div>
      </div>
      <div class="movies-thumbnail">
        <div class="movie">
          <div class="cover">
            <img alt="">
          </div>
          <div class="detail">
            <div class="name"></div>
            <div class="rating">
              <span class="rating-value"></span>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
