<div class="sign-container">
  <img class="film" src="assets/images/film.png" alt="">
  <div class="logo">Rotten Pottoes</div>
  <div class="desc">
    Rotten Potatoes is the world’s most trusted recommendation resources for
    quality entertainment. As the leading online aggregator of movie and TV show
    reviews from critics, we provide fans with a comprehensive guide to what’s
    Fresh – and what’s Rotten – in theaters and at home. If you’re an
    entertainment fan looking for a recommendation, or to share an opinion,
    you’ve come to the right place.
  </div>
  <form [formGroup]="signUpForm" (ngSubmit)="submit()">
    <div class="sign-form">

      <div class="form-group">
        <input type="text" placeholder="name" formControlName="name" class="form-control"/>
        <span class="login-warning" role="alert" *ngIf="name?.errors?.['name']">
          Please enter a name
        </span>
      </div>

      <div class="form-group">
        <input type="text" placeholder="email" formControlName="email" class="form-control"/>
        <span class="sign-warning" role="alert" *ngIf="email?.errors?.['email']">
          Please enter a email
        </span>
      </div>

      <div class="form-group ">
        <input type="password" placeholder="password" formControlName="password" class="form-control"/>
        <span class="sign-warning" role="alert" *ngIf="signUpForm.errors?.['required']">
          Confirm password is required
        </span>

      </div>

      <div class="form-group ">
        <input type="password" placeholder="confirm password" formControlName="confirmPassword" class="form-control"/>
        <span class="sign-warning" role="alert" *ngIf="signUpForm.errors?.['passwordDontMatch']">
          Passwords should match
        </span>

      </div>
      <div class="btn-container">
        <button class="btn btn-dark" type="submit">Register</button>

      </div>
      <span>Already has an account? <a [routerLink]="['/login']">Login</a></span>

    </div>
  </form>
</div>
